<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cinépolis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

<div class="container mt-5">

    {% import "_macros.html" as macros %}

    <form action="/cinepolis" method="post">
        
        {{form.csrf_token}}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

        <div>
            <h1>Entradas</h1>
            {{ macros.campoNuevo(form.nombre, class="form-control")}}
            {{ macros.campoNuevo(form.cantidadCompradores, class="form-control")}}
            {{ macros.campoNuevo(form.opcion)}}
            {{ macros.datos("cantidadBoletas", "¿Cuántos boletos desea comprar?", "number") }}
        </div>

        <div>
            <h1>Salidas</h1>
            <label>Valor a pagar:</label>
            <input type="number" class="form-control" name="costo" value="{{ total if total else '' }}" readonly>
        </div>

        <div class="mt-4 text-center">
            <button type="submit" class="btn btn-primary me-3">Procesar</button>
            <a href="/" class="btn btn-secondary">Salir</a>
        </div>

    </form>

    {% if mensaje %}
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        {{ mensaje }}
    </div>
    {% endif %}


</div>

</body>
</html>
