<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="vieport" content="width=device-widht, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>

</head>
<body>
    <div class="container">
        <div class="row">

            <table class="table">
                <thead>
                    <th>uno</th>
                    <th>dos</th>
                    <th>tres</th>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </div>
    <h1>¡Hello, World!</h1>
    <h1> {{titulo}}</h1>

    {% for usuario in lista %}
        <p> {{ usuario }} </p>
    {% endfor %}

</body>
</html>
